{{ form_start(form) }}
    {{ form_row(form.title, {'attr': {'class': 'form-control'}, 'label':'titre :' }) }}
    {{ form_row(form.content, {'attr': {'class': 'form-control'}, 'label':'détail :' }) }}
    
    <button  type="submit">Soumettre</button>
{{ form_end(form) }}